* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Avalon Bold";
  src: url(/avalon/Avalon_Bold.ttf);
}

/* Nav  */

.nav {
  background-color: #f7f8f8;
  padding: 1rem 1.5rem;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
  z-index: 2;
}

ul {
  display: flex;
  list-style: none;
}

.nav-logo {
  height: 4rem;
}

.nav-main {
  justify-content: space-between;
  align-items: center;
}

.nav-center {
  justify-content: center;
}
.nav-center li {
  padding: 0 2rem;
  font-family: "shentox-5", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.header-promo {
  padding: 1.5rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  background-color: #fada33;
}

@media screen and (max-width: 1024px) {
  .nav-main li:not(:first-child) {
    display: none;
  }
  .header-promo {
    display: none;
  }
}

/* Main header section */

.main-header-container {
  padding: 3rem 0 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-header-logo img {
  width: 40%;
  display: block;
  margin: 0 auto;
}

.main-header-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header-text h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5rem;
  font-weight: 200;
}

@media screen and (max-width: 1024px) {
  .main-header-container {
    display: initial;
  }
  .main-header-logo img {
    width: 55%;
    padding: 1rem 0;
  }
  .main-header-text h2 {
    font-size: 2.5rem;
  }
}

/* Main article section  */

.main-article-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
  min-height: 90vh;
  max-width: 90%;
  margin: 0 auto;
  padding: 5rem 0;
}

.article {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "Avalon Bold", sans-serif;
}

.article a {
  margin: 0.5rem 0 5%;
  padding: 0 1rem;
  text-decoration: none;
  color: #fff;
}

.article h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
  padding: 0 1rem;
}

.article-1 {
  background-image: linear-gradient(180deg, transparent 25%, #000 90%),
    url(./images/article1.jpeg);
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  font-size: 2.4rem;
}

.article-2 {
  background-image: linear-gradient(180deg, transparent 25%, #000 90%),
    url(/images/article2.jpeg);
  grid-column: 1 / 2;
  grid-row: 4 / 6;
  font-size: 1.8rem;
  justify-content: center;
  text-align: center;
}

.article-2 button {
  display: block;
  background-color: transparent;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 30px;
  padding: 1.3rem 2.5rem;
  margin: 1rem auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  cursor: pointer;
}

.article-3 {
  background-image: linear-gradient(180deg, transparent 25%, #000 90%),
    url(/images/article3.jpeg);
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  font-size: 1.4rem;
}

.article-4 {
  background-image: linear-gradient(180deg, transparent 25%, #000 90%),
    url(/images/article4.jpeg);
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  font-size: 1.4rem;
}

.article-5 {
  background-image: linear-gradient(180deg, transparent 25%, #000 90%),
    url(/images/article5.jpeg);
  grid-column: 2 / 4;
  grid-row: 3 / 6;
  font-size: 2.4rem;
}

/* Popular articles section */

.popular-articles {
  background-color: #f7f8f8;
  padding: 8rem 0;
  max-width: 95%;
  margin: 0 auto;
}

.popular-articles h2 {
  font-family: "Arial Narrow";
  font-weight: 700;
  color: #a7aab2;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

.popular-articles-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/* Latest Stories */

.latest-stories {
  max-width: 95%;
  margin: 0 auto;
  padding: 3rem 5rem;
}

.latest-stories-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
